{% assign theme = site.data.themes[site.ui_theme] %}
<h5 class="card-title" style="font-family:{{ theme.education-title-font}};font-size:{{ theme.education-title-size }};color:{{theme.education-font-color}};">
  Education & Certifications
</h5>
<ul class="list-unstyled">
  {% for entry in site.data.education %}
    <li class="media" style="display: flex; align-items: flex-start; margin-bottom: 1rem;">
      <!-- Fixed block size for icon -->
      <div style="width: 90px; text-align: center; flex-shrink: 0;">
        <img src="{{ entry.Icon }}" alt="Icon" style="height: 72px; width: auto;">
      </div>
      <!-- Content -->
      <div class="media-body" style="margin-left: 1rem;">
        <h5 style="font-family:{{ theme.education-entry-font}};font-size:{{ theme.education-entry-size }};color:{{theme.education-font-color}};">
          {{ entry.School }}
        </h5>
        <!-- Reduced vertical space -->
        <p style="font-family:{{ theme.education-entry-font}};font-size:{{ theme.education-section-size }};color:{{theme.education-font-color}}; margin-bottom: 0.25rem;">
          <i>{{ entry.Program }}</i>
        </p>
        {% if entry.Degree %}
          <p style="margin-bottom: 0.25rem;">{{ entry.Degree }}
            {% if entry.StartDate %}
              <h5 style="display: inline; font-size: inherit; font-style: italic;">{{ entry.StartDate }} - </h5>
            {% endif %}
            {% if entry.EndDate %}
              <h5 style="display: inline; font-size: inherit; font-style: italic;">{{ entry.EndDate }}</h5>
            {% endif %}
          </p>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
